{
  "env": {
    "browser": true,
    "node": true,
    "es6" : true,
    "mocha" : true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["react", "eslint:recommended"],
  "plugins": [
    "react"
  ],
  "rules": {
    "curly" : "warn",
    "complexity" : ["warn", 4],
    "no-empty-function": "error",
    "no-eval": 2,
    "block-spacing": "error",
    ////////// Styling //////////
    "brace-style": [2, "1tbs", {"allowSingleLine": true}],        // enforce one true brace style
    "camelcase": 2,                                               // enforce use of camelCase
    "comma-spacing": [1, { "before": false, "after": true }],     // enforce spacing before and after comma
    "eol-last": 0,                                                // don't enforce new line at the end of file
    "indent": [1, 2, { "SwitchCase": 1 }],                                             // use two space indentation
    "max-len": [1, 120, 2],                                       // max line-length 10
    "no-mixed-spaces-and-tabs": 1,                                // disallow mixed spaces and tabs for indentation
    "no-nested-ternary": 1,                                       // disallow use of nested ternary expression
    "no-trailing-spaces": 1,                                      // disallow trailing whitespace at the end of lines
    "padded-blocks": [1, "never"],                                // no empty lines in declaration blocks
    "quotes": [2, "single", "avoid-escape"],                      // only use single quotes,
    "space-before-function-paren": [1, "never"] ,                  // disallow space before function parentheses
    "require-jsdoc": 2,
    // require braces in arrow function body
    "arrow-body-style": [2, "as-needed"],
    // require parens in arrow function arguments
    "arrow-parens": 0,
    // require space before/after arrow function's arrow
    "arrow-spacing": [2, { "before": true, "after": true }],
    // verify super() callings in constructors
    "constructor-super": 0,
    // enforce the spacing around the * in generator functions
    "generator-star-spacing": 0,
    // disallow arrow functions where a condition is expected
    "no-arrow-condition": 0,
    // disallow modifying variables of class declarations
    "no-class-assign": 0,
    // disallow modifying variables that are declared using const
    "no-const-assign": 2,
    // disallow duplicate name in class members
    "no-dupe-class-members": 0,
    // disallow to use this/super before super() calling in constructors.
    "no-this-before-super": 0,
    // require let or const instead of var
    "no-var": 2,
    // require method and property shorthand syntax for object literals
    "object-shorthand": [2, "always"],
    // suggest using arrow functions as callbacks
    "prefer-arrow-callback": 2,
    // suggest using of const declaration for variables that are never modified after declared
    "prefer-const": 2,
    // suggest using Reflect methods where applicable
    "prefer-reflect": 0,
    // suggest using the spread operator instead of .apply()
    "prefer-spread": 0,
    // suggest using template literals instead of strings concatenation
    "prefer-template": 2,
    // disallow generator functions that do not have yield
    "require-yield": 0
  }
}
